body, html {
    height: 100%;
}
.w3-container {
    background-image: url("../img/background.jpg");
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px 0;
    box-sizing: border-box;
}

/*FOREGROUND*/
.foreground {
    height: 80vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.foreground-result {
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*CONTENT*/
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-5%, -50%);
    z-index: 99;
}

.button{
    margin-left: 2rem;
    position: relative;
    right: 17rem;
    top: 5rem;
    width: 10rem;
}

#title, #description {
    position: relative;
    right: 15rem;
    width: 40rem;
    height: 4rem;
}

#title {
    color: rgb(1,180,220);
    font-weight: bold;
}

#nextArrow-box {
    color: #9e9e9e;
    position: relative;
    top: 9rem;
    right: 4rem;
}

#previousArrow {
    width: 2rem;
    position: relative;
    top: 1rem;
    left: 1rem;
}

#previousArrow-box {
    width: 4rem;
    height: 4rem;
    border-radius: 2rem;
    background-color: #9e9e9e;
    display: inline-block;
    position: relative;
    bottom: 5rem;
    right: 16rem;
}

.checkbox-box {
    position: relative;
    right: 15rem;
}

.radioButtons-box {
    position: absolute;
    bottom: 25rem;
    transform: translate(-9rem, 5px);
}

.resultTable {
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translate(-50%, 3%);
}

.progress {
    position: absolute;
}

progress{
    width: 50rem;
}

/*FOOTER*/
.footer {
    position: relative;
    height: 100%;
}

#logo-stemwijzer{
    float: left;
    width: 150px;
}

#logo-prodemos {
    float: right;
    width: 125px;
}

#logo-1v-s {
    float: right;
    margin-left: 10px;
}

#logo-stemwijzer, #logo-prodemos, #logo-1v-s {
    transform: translate(0,79vh);
}

